@media print {

    .hide-on-print{
        display: none;
    }

    .break-after {
        page-break-after: always;
    }

    .page-break-clear { 
        clear: both;
    }
    
    .page-break {
        display: block !important;
        page-break-after: auto;
        break-after: page;
        height: 0px;
    }

    // .contenedorEtiquetas{
    //     display: flex;
    //     flex-wrap: wrap;
    //     margin-right: -15px;
    //     margin-left: -15px;

    // }

}