@media print {


    @page { 
        margin: 0; 
    }
    body { 
        margin: 1.6cm; 
    }

    html, body{
        color: black !important;
    }

    .hide-on-print{
        display: none;
    }

    .page-break {
        display: block !important;
        page-break-after: auto;
        break-after: page;
        height: 0px;
    }

    

}

.mb-30{
    margin-bottom: 35rem !important;
}
